* {
  font-family: Arial, Helvetica, sans-serif;
}

.header {
  width: 100vw;
  background-color: slategray;
  height: 2.5 rem;
}

body {
  background-color: lightblue;
}

.title {
  color: white;
}

.product-price {
  color: grey;
}

.card-grid {
  margin-left: 0;
  height: 100vh;
  width: 100vw;
}

.container {
  margin-left: 0;
}

.card:hover{
  cursor: pointer;
}

.back-to-catalog:hover{
  cursor: pointer;
}

.product-detail-img {
  object-fit: scale-down;
  width: 100%;
}

.items {
  color: white;
}

.items:hover {
  cursor: pointer;
}

.card-image {
  object-fit: scale-down;
  width: 75%
}
